body {
    font-family: "Roboto", sans-serif;
}
.Hero{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    margin: 0;

}
.head-image {
    flex: 0;
    max-width: 450px;
    padding: 16px;
}
.bold-text {
    font-size: 24px;
    color: #F9FAF8; 
}
.hero-text {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}
h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
}
.head-main {
    display: flex;
    justify-content: space-evenly;
}
.main-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 400px;
    padding: 16px;
}

/* Main styling for info box of page */ 

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 40px;
}

.img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 18px;
    margin-bottom: 24px;
}
.mark {
    object-position: 100% 0;
}
.photo-bay {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.item {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

/* testimonial box */

.testimonial {
   background-color: #E5E7EB; 
   color: #1F2937;
   font-size: 36px;
   font-style: italic;
   font-weight: 100;
}
.quote-name {
    font-weight: 700;
    text-align: end;
    padding-right: 100px;
    padding-bottom: 70px;

}
.quote {
    padding: 80px;
    padding-bottom: 0px;
}


